body {
  background: black;
  color: cyan;
  font-family: Arial;
  text-align: center;
}

h1 {
  text-shadow: 0 0 20px cyan;
}

.container {
  width: 80%;
  margin: auto;
}

textarea {
  width: 100%;
  height: 300px;
  background: #111;
  color: #0ff;
  border: 2px solid cyan;
  padding: 10px;
  font-family: monospace;
  box-shadow: 0 0 20px cyan;
}

.buttons {
  margin-top: 10px;
}

button {
  margin: 5px;
  padding: 10px;
  background: black;
  border: 2px solid cyan;
  color: cyan;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: cyan;
  color: black;
  box-shadow: 0 0 20px cyan;
}
